*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Inicio header */



#price{
    display: flex;
    align-items: center;
    justify-content: center;
}
#cart{
    background: black;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid black;
}
#price p{
    padding: 8px;
}
/* Fechamento header */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    }
.content{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: yellow;
    }
.header{
    width: 100vw;
    max-width: 1187px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
}
.menu-nav li{
    display: inline-block;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}
/* .menu-nav{
    display:flex;
    margin-right: 15rem;
} */
.logo{
    width: 100%;
   
}
.containerLogo{
   
    width: 150px;
   
}
/* Inicio section hero */
.hero{
    display: flex;
    max-width: 1187px;
}
.heroContent{
    margin: 20px 30px 0px 0px;
    
}
.heroTitle{
    font-size: 3rem;
}
.subTitle{
    margin-top: 15px;
}
.btnProdutos{
    width:300px;
    height: 50px;
    background: black;
    color:white;
    font-size: 20px;
    border-radius: 15px;
    border:none;
    margin-top: 35px;
    }
/* Fechamento sextion hero */
#imgDog{
    width: 48.31rem;
    height: 38.68rem;
}
/* Inicio section produtos */
.sectionProdutos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 600px;
    background: red;
}
/* Fechamento section produtos */
